.footer {
  width: 100%;
  background: @footer;
  padding: 100px 0;

  .ftr {
    width: 50%;
    display: flex;
    margin: auto;
  ;
  }
  
  
  .section-one{
    width: 40%;
    padding-right: 80px;
    
    p {
      // text-align: center;
      color: @font-color;
      font-size:1.6rem;
      
    }
    
    ul{
      display: flex;
      
      .icons {
        width: 20%;
        justify-content: space-around;      
        
      } 
    }
    
  }
} 