.home {
  h1 {
    font-size: 8rem;
    @media @tablet{
      font-size: 6rem;
    }
    @media @mobile {
      font-size: 4rem;
    }
  }


  .content-section {
    margin: 30px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
     
    .text-content {
      width: 48%;
      padding-right: 1%;
    }

    .img-content {
      width: 48%;
      padding-left: 1%;

      img {
        border-radius: 10px;
      }
    }
  }



  

  .inverse-content {
    padding-bottom: 30px;
    
    

    .text-content {
      padding-left: 4%;
      padding-right: 0;
       a {
         border: 2px solid red;
       }
    }

    .img-content {
      padding-right: 1%;
      padding-left: 0;
      
    }
  }

  .content-destination {
    width: 75%;
    margin: 0 auto 30px;

    img {
      border-radius: 10px;
    }
  }

  .content-pick {
    padding-top: 30px;
    display: flex;
    justify-content: space-between;
  }
}// home





img {
  max-width: 70%;
}

.jumbo{
  display: flex;
  justify-content:space-between;
  align-items: center;
  padding: 150px 10px;

  .text-content {
    width: 40%;
    padding-right: 60px; 
    @media @mobile, @tablet {
    margin: 10px 100px;
    width: 80%;
    }
  }
  .img {
    width: 55%;
   @media @mobile, @tablet {
      display: none;
    }
  }

}






.main-content {

  .content-section{
  justify-content:space-around;
  // justify-content: center;
  align-items: center;
  padding: 50px;

  @media @mobile, @tablet {
    flex-direction: column-reverse;

    .img-content {
      text-align: center;
      width: 75%;
      margin-bottom: 40px; 
    }
  }
  
  .text-content {
    width: 35%;
    

    @media @mobile, @tablet {
      text-align: center;
      width: 80%;
    }
  }
  }
}
  .inverse-content{
  flex-direction: row-reverse;
  justify-content:space-between;
  justify-content: center;
  align-items: center;
  padding: 50px 0;
}



.btn {
  width: 35%;
  background-color:@button-bg;
  padding: 10px;
  border-radius: 15px;
  margin: 0 10px 0 0;
  text-align:center;
  color: white;
  font-size: 2rem;
}
